/* Style of "Films: " heading */
.h2Style {
    text-align: left;
    margin-bottom: 0px
}


/* Style of single info point*/
.infoStyle {
    text-align: left;
}

/* Style of input field */
.inputStyle {
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.08);
    border: none;
    width: 480px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px
}

/* Style for the parent div of info point */
.characterInfoParentDiv  {
    position: relative;
    height: auto;
    width: 480px;
    top: 50px;
    border-width: 0.1px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 32px;
    padding: 16px 16px 16px 16px;
    -webkit-box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 10px 48px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.08)
}

